body {
    font-family: Arial, sans-serif;
    background-image: url(https://cache.desktopnexus.com/thumbseg/1252/1252294-bigthumbnail.jpg);
    background-repeat: no-repeat;
    background-size: 1500px 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
     background: purple;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#timer-display {
    font-size: 48px;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
}

input {
    margin: 5px 0;
    padding: 10px;
    width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background : #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background: #0056b3;
}


